<% provide(:title, "New Topics") %>
<h1>New Topics</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for @topic do |f| %>
        <%= f.input :content, as: :text %>
        <%= f.button :submit %>
    <% end %>

    <%= form_tag '/attachments', method: :post, class: "dropzone form", id: "media-dropzone" do %>
          <div class="fallback">
            <%= file_field_tag "media", multiple: true%>
          </div>
    <% end %>
  </div>
</div>
